amqp==5.0.2
asgiref==3.3.1
billiard==3.6.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.4
flake8==3.8.4
idna==2.10
importlib-metadata==3.3.0
kombu==5.0.2
mccabe==0.6.1
prompt-toolkit==3.0.8
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.5
redis==3.5.3
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
zipp==3.4.0
