{% extends "layout.html" %}
{% load static %}

{% block content %}   

    {% if message %}
        {% include 'info.html' %}
    {% endif %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="text-body mt-2 text-center"><img class="mx-2" src="{% static 'assets/img/kenya-flag-icon-32.png' %}">Tailored For Kenyan Entrepreneurs<br></h6>
                </div>
            </div>
        </div>
    </section>

    <section id="intro-section">
        <div class="container">
            <div class="d-flex flex-column justify-content-center text-center" id="intro-content">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h2 id="font-size-large" class="font-weight-bold playfair-text-heading">Discover The Secrets Of Building A <em><span style="text-decoration: underline;">Profitable Online Business</span></em> That No One Will Ever Dare Tell You<br></h2>
                        <h5 class="mt-5"><em>Yes! Let me take advantage of this email course for small and medium-sized businesses in Kenya!</em></h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8"><a class="btn btn-primary btn-block btn-lg font-weight-bold animate__animated my-3" role="button" id="btn-preferred" href="#content-card"><strong>GET INSTANT ACCESS TO THIS COURSE</strong></a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="pb-3 playfair-text">In this 6-Day email course, you'll discover:</h2>
                    <ul class="list-unstyled" id="check-list">
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 1: How to find where your dream customers are hiding using simple techniques</strong> - skipping these step is the No. 1 reason that most businesses fail.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 2:&nbsp;The unique strategies of luring buyers to your online business.</strong> Mastering just one of these strategies guarantees a steady flow of clients, find out
                            what happens when you master all of them.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 3: A priceless skill that they don’t teach you in any business school</strong>… that almost every successful entrepreneur knows.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 4: How to test your business idea using the smallest budget imaginable.</strong> If your business passes this test, then it will be in high demand no matter the season.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 5:&nbsp;The easy step-by-step blueprint of how to set up an online business,</strong>&nbsp;and some of the simple tweaks that can make your sales shoot through the roof
                            if you already have one.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 6:  Why you should be stealing customers and traffic from your competitors to grow your business...</strong> plus how to do it ethically.<br></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8"><a class="btn btn-primary btn-block btn-lg font-weight-bold my-3 animate__animated animate__headShake" role="button" id="btn-preferred" href="#content-card"><strong>ENOUGH TALK! I'M READY TO LEARN THESE SECRETS TODAY</strong><br></a></div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="playfair-text pb-3">And as if that is not enough... I'm throwing in this special bonus bundle!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Bonus</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Bonus #1:</strong>&nbsp;Traffic Secrets Ebook: The underground playbook for filling your website and funnels with your dream customers<br></td>
                                    <td colspan="2">Kshs 999</td>
                                </tr>
                                <tr>
                                    <td><strong>Bonus #2:</strong> Dotcom Secrets: The underground playbook for growing your company online with sales and funnels.<br></td>
                                    <td>Kshs 999</td>
                                </tr>
                                <tr>
                                    <td><strong>Bonus #3:</strong> Exactly what to say: The Magic Words for Influence and impact.<br></td>
                                    <td>Kshs 799</td>
                                </tr>
                                <tr>
                                    <td><strong>Bonus #4:</strong> Sell like crazy: How to get many clients, customers, and sales as you can possibly handle.<br></td>
                                    <td>Kshs 999</td>
                                </tr>
                                <tr>
                                    <td class="text-right" colspan="2"><strong>Total Value: Ksh 3,796</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <p>These are the very same books recommended by most, if not all first-class entrepreneurs. </p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8"><a class="btn btn-primary btn-block btn-lg font-weight-bold" role="button" id="btn-preferred" href="#content-card"><strong>CLICK HERE TO WALK AWAY WITH THIS EMAIL COURSE PLUS BOOKS WORTH KSHS 3,796 FOR FREE!</strong><br></a></div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="playfair-text pb-3">P.S: This is not one of those courses that charge you hefty fees, then give you bland ho-hum stories...</h2>
                    <p>It's a 6-Day Email course overflowing with value, scripts, and examples that will spare you the agony and shame of many business failures.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-4 mb-5" id="content-card">
                        <div class="card-body">
                            <p>Enter your name and email to reserve your spot to this email course before it's too late!</p>
                            <hr>
                            <form role="form" action="{% url 'home' %}" method="POST" autocomplete="on">
                            {% csrf_token %}

                                <div class="form-group">
                                    <input class="form-control" type="text" name="username" value="{{ form.username.value|default_if_none:'' }}" required="" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control email" type="email" name="email" required="" value="{{ form.email.value|default_if_none:'' }}" placeholder="example@gmail.com" autocomplete="on">
                                    <hr>
                                    <button class="btn btn-primary btn-block btn-lg font-weight-bold animate__animated animate__headShake" id="btn-preferred" type="submit"><strong>YES, RESERVE MY SPOT NOW &gt;&gt;</strong><br></button></div>
                            </form>
                            <p class="text-center"><small><strong>*This is a 100% FREE Course. No Payment Required</strong><br></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
