{% extends "layout.html" %}
{% load static %}

{% block content %}   

    {% if message %}
        {% include 'info.html' %}
    {% endif %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h6 class="text-danger mt-2 text-center">Attention All Entrepreneurs, Coaches, Professionals and Consultants<br></h6>
                </div>
            </div>
        </div>
    </section>

    <section id="intro-section">
        <div class="container">
            <div class="d-flex flex-column justify-content-center text-center" id="intro-content">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <h2 id="font-size-large" class="font-weight-bold playfair-text-heading">Discover The Secrets Of Building A <em><span style="text-decoration: underline;">Highly&nbsp;Profitable Online Business</span></em>&nbsp;That No One Will Ever Dare Tell You<br></h2>
                        <h5 class="mt-5"><em>Yes! Let me take advantage of this email course for small and medium-sized businesses!</em></h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8"><a class="btn btn-primary btn-block btn-lg font-weight-bold animate__animated my-3" role="button" id="btn-preferred" href="#content-card"><strong>GET INSTANT ACCESS TO THIS COURSE</strong></a></div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="pb-3 playfair-text">In this 6-Day email course, you'll discover:</h2>
                    <ul class="list-unstyled" id="check-list">
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 1: The 10 key questions you must answer if you ever hope to start a profitable business</strong>&nbsp;-&nbsp;skipping this step is the single most deadly mistake most
                            people make.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 2:&nbsp;The unique strategies of luring ready-to-buy customers to your online business.</strong>&nbsp;Mastering just one of these strategies can create a steady flow
                            of clients, find out what happens when you master all of them.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 3:&nbsp;A priceless skill they don’t teach you in any business school that unlocks outrageous profits... </strong>yet every successful entrepreneur knows this skill but
                            can't (or won't) tell you about it.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 4: How to test your business idea using the smallest budget imaginable.</strong> If your business passes this test,&nbsp;you can mine profits no matter the season.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 5:&nbsp;The easy step-by-step blueprint a millionaire uses in his business,</strong>&nbsp;and some of the simple tweaks that can make your sales shoot through the roof
                            if you already have one.<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>DAY 6:  Why you should be stealing customers and traffic from your competitors to grow your business...</strong>&nbsp;plus the tools to use without getting caught!<br></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8"><a class="btn btn-primary btn-block btn-lg font-weight-bold my-3 animate__animated animate__headShake" role="button" id="btn-preferred" href="#content-card"><strong>ENOUGH TALK! LET ME GET INSTANT ACCESS TO THIS COURSE NOW!</strong><br></a></div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="pb-3 playfair-text text-center">Why you need this course right now...</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <p>Let's face it, it's not easy to start an online business. </p>
                    <p>Plus, young gurus bragging how they made another 6 figure business in one year does not make it any easier. </p>
                    <p>They keep giving you more&nbsp;<em>"start an online business, and you can be like me"</em>&nbsp;stories.<br></p>
                    <p>But what they don't tell you is statistics show that a&nbsp;<strong>shocking 5 out of 10 businesses fail within the first five years.</strong><br></p>
                    <p><strong>That means,</strong> in five years, you may have nothing to show for all the blood, sweat, and tears you put into your business. </p>
                    <p>Not to mention all the hard-earned money that will have gone down the drain. </p>
                    <p>And if you haven't reaped enough profits to pay off your loan - <span style="text-decoration: underline;">it only gets worse! </span></p>
                    <p>The debt collectors move in to take back what belongs to Ceasar.<br></p>
                    <p>Then you lose your car.<br></p>
                    <p>You lose your home.<br></p>
                    <p>And eventually your source of income.&nbsp;After that, you realize you have to lay off a few or all your employees.<br></p>
                    <p></p>
                    <p></p>
                    <p>And as if that's not bad enough... </p>
                    <p>Your children pay for your painstaking failures with a hungry stomach. </p>
                    <p>All these scenarios have happened and are likely to happen again. </p>
                    <p><strong>So... that's the bad news. </strong></p>
                    <p><strong>The good news is... </strong></p>
                    <p><strong>You could sidestep all these emotional and financial land mines by taking this email course. </strong></p>
                    <p>And by the way, if you think this is just another course giving you a bunch of theories - be ready to pick your jaw off the floor. </p>
                    <p><em>I built this course from scratch, using the very same tools and techniques that I preach.</em></p>
                    <p><em>I built it to tell you the secrets of building an online business that nobody ever told me.</em><br></p>
                    <p><em>I built it to give you the wisdom that business gurus never share or talk about in public.</em></p>
                </div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="pb-3 text-center playfair-text">So if you decide to enroll to this email course, here are some of the secrets you'll discover</h2>
                    <ul class="list-unstyled" id="check-list">
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>A simple step you need to take before starting any online business.</strong>&nbsp;Failing to do so can cripple your business within the first year. (You have to mad to ignore
                            it!) - Day 1<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>A few features that can flood your business with buyers.</strong>&nbsp;Plus, I reveal a little-known secret that can wipe out all your competitors. - Day 2<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>The single most profitable skill that you either learn or pay a ton of money to those who possess it.</strong>&nbsp;Using this skill stops customers in their tracks and primes
                            them to buy, try, or subscribe to your product(<em>Hint: I also used it on this website!</em>) - Day 3<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>The six methods you can use to tell whether your business will be in high demand</strong>. Do Not start any online business if you haven't done this. - Day 4<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>A powerful blueprint I stole from a dollar millionaire.</strong>&nbsp;This blueprint has the elements that he plugs into any website to make sales shoot through the roof.
                            - Day 5<br></li>
                        <li><i class="fa fa-check-square-o text-primary"></i><strong>The tools that I use to spy on my competitors.</strong>&nbsp;And guess what... they are absolutely free! - Day 6<br></li>
                    </ul>
                    <p class="pt-3">So you see, these are secrets that you will&nbsp;<strong><span style="text-decoration: underline;">NEVER</span></strong>&nbsp;find hung outside for all the world to see.<br></p>
                    <p>You could limp along for years trying to figure out what works and what doesn't, and still not get these secrets.<br></p>
                    <p>Imagine being stuck in an endless circle of trial and error while you could have achieved your goals with much less effort by just taking this course.<br></p>
                    <p><em>How much frustration will you endure trying to figure out these secrets?</em><br></p>
                    <p><em>How much money will you burn trying to find the perfect solution for your business before you go broke?</em><br></p>
                    <p><em>How much longer will you put off those income goals when you could get started today?</em><br></p>
                    <p>I know that taking this email course can spell the difference between your business barely surviving and thriving.<br></p>
                    <p>In fact, this course gives you such a huge unfair advantage over your competitors,&nbsp;<strong>it feels like you're cheating!</strong><br></p>
                    <p>But I can't show you all these formulas and secrets unless you take the first step to enroll now.<br></p>
                    <p>So if you want these specific formulas that can massively increase your sales, just click the button below!<br></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8"><a class="btn btn-primary btn-block btn-lg font-weight-bold" role="button" id="btn-preferred" href="#content-card"><strong>ENROLL NOW TO GET THE STRATEGIES AND FORMULAS THAT YOU CAN&nbsp;INSTANTLY PLUG &amp; PLAY INTO YOUR BUSINESS FOR FREE!</strong><br></a></div>
            </div>
        </div>
    </section>
    <section id="section-content" class="py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="playfair-text pb-3">P.S. This is not one of those courses that charge you hefty fees, then give you bland ho-hum stories...</h2>
                    <p>It's a 6-Day Email course overflowing with value, scripts, and examples that will spare you the agony and shame of many business failures.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-4 mb-5" id="content-card">
                        <div class="card-body">
                            <p>Enter your name and email to get instant access to this course</p>
                            <hr>
                            <form role="form" action="{% url 'home' %}" method="POST" autocomplete="on">
                            {% csrf_token %}

                                <div class="form-group">
                                    <input class="form-control" type="text" name="username" value="{{ form.username.value|default_if_none:'' }}" required="" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control email" type="email" name="email" required="" value="{{ form.email.value|default_if_none:'' }}" placeholder="example@gmail.com" autocomplete="on">
                                    <hr>
                                    <button class="btn btn-primary btn-block btn-lg font-weight-bold animate__animated animate__headShake" id="btn-preferred" type="submit"><strong>YES, LET ME IN BEFORE IT'S TOO LATE! &gt;&gt;</strong><br></button></div>
                            </form>
                            <p class="text-center"><small><strong>*This is a 100% FREE Course. No Payment Required</strong><br></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
