<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Free Online Course</title>
    <meta name="description" content="Discover The Secrets Of Building A Profitable Online Business That No One Will Ever Dare Tell You">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">

    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'assets/js/auto_modal_popup.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">    
</head>

    <body>

    {% block content %}
    <!-- body content -->
    {% endblock %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>

    <script src="{% static 'assets/js/auto_modal_popup.js' %}"></script>
    <script src="{% static 'assets/js/custom_email_autocomplete.js' %}"></script>
    <script src="{% static 'assets/js/jquery.email-autocomplete.js' %}"></script>
        

</body>
</html>
